@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Phone</strong> - (417) 224-8296
</address>
<address>
    <strong>Email</strong> - <a href="mailto:gswb7d@mst.edu">gswb7d@mst.edu</a>
</address>
